<footer>
  <nav id="navfoot"> <center>
      <a href="#"> About</a>
      <a href="#"> Portfolio </a>
      <a href="#"> Testimonials </a>
      <a href="#"> Contact </a> </center>
  </nav>

  <ul> <center>
    <li> google+ </li>
    <li> linkedin </li> <center>
  </ul>
<div class="copy_eadd"> <center>
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ site.email }} </center>
</div>

  <div id="copyright"> &copy; Meekaila Works | 2016.  All rights reserved.</div>

</footer>
